.img-height{
    width: 100%;
    height: 84px;
}

.col-3 {
    flex: 0 0 auto;
    width: 38%;
}

.item-categoryName {
    /* margin-top: 0!important; */
    /* margin-bottom: 17px; */
    margin-top: -82px;
}